
.info-panel {
    background-color: #fdfdfd;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;
   
    width: calc(100% - 48px);
    max-width: 1100px;

    position: absolute;
    bottom: -40px;
    z-index: 10;
}

.info-item {
  flex: 1;
}

.info-item h2 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 12px;
  color: hsl(0, 0%, 58%);
  letter-spacing: 2px;
}

.info-item p {
  font-size: 20px;
  font-weight: bold;
  color: hsl(0, 0%, 17%);
}