.search-bar {
  display: flex;
  
  width: 100%;
  max-width: 500px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  padding: 18px 20px;
  width: auto;
  min-width: 0;
  border-radius: 12px 0 0 12px;
  font-size: 18px;
  border: none;
  font-family: 'Rubik', sans-serif;
  flex: 1;

  color: #0f172a;
}

.search-bar input:focus {
  outline: none;
}


.search-bar button {
  padding: 0 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0f172a;
  border-radius: 0 12px 12px 0;
  border: none;
}

.search-bar button:hover {
  background-color: #333;
}

.loading-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-bar {
    width: calc(100% - 32px);
    margin: 12px auto;
    max-width: 520px;
  }

  .search-bar input {
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 10px 0 0 10px;
    
  }
}