.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 24px;

  min-height: 380px;

  background-image: url('../../assets/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

.header h1 {
  color: white;
  margin-bottom: 24px;

  font-size: 28px;
  font-weight: 500;
}