.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 24px;

  min-height: 380px;

  background-image: url('../../assets/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

.header h1 {
  color: white;
  margin-bottom: 24px;

  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.3px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    min-height: 550px;

    background-image: url('../../assets/pattern-bg-mobile.png');
  }

  .header h1 {
    font-size: 24px;
  }
}