.map {
  min-height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #dcdcdc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .map {
    min-height: 100vh;
  }
}